
.form-title {
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0 0 1em;
    border-bottom: 1px dotted #808080;
}

.login-form {
    padding: 1em;
    border-radius: 1em;
    background: #ADFF2F;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.4);
    max-width: 600px;
    position: absolute;
    bottom: 350px;
    right: 200px;
}

.input-line {
    margin: 1em 0;
    display: block;
}

.go-back {
    color: white;
}

body {
    background: #555555;
    font-family: 'PT sans', sans-serif;
}

input {
    border: none;
    border-radius: 3px;
    outline: none;
    line-height: 1.5em;
    padding: 0.25em;
    box-sizing: border-box;
    font-size: 1rem;
    display: inline;
    flex: 1 1 100%;
}

label {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

label input {
    margin-left: 1rem;
}


button {
    border-radius: 1em;
    width: 100%;
    text-align: center;
    font-size: 1em;
    background: linear-gradient(to left, #FFC0CB 30%, #8228B4 100%);
    color: black;
    padding: 0.5em 0;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
