.Info{
    display: flex;
    flex-direction: column;
    color: #b1ff88;
    font-style: normal;
    font-size: 150%;
}

.Quiz{
    display: flex;
    flex-direction: column;
    color: #ced295;
    font-style: normal;
    font-size: 120%;
    line-height: 20%;
}