.dog-item {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #a7fbf1;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

.dog-item:hover {
    background: rgb(90, 184, 161);
    color: white;
}


.dog-item-wrong {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #f499a2;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

.dog-item-wrong:hover {
    background: rgb(193, 110, 117);
    color: white;
}


.dog-item-right {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #76f461;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

.dog-item-right:hover {
    background: rgb(48, 162, 39);
    color: white;
}

